@font-face {
    font-family: 'persona_font';
    src: url('./fonts/Persona5MenuFontPrototype-Regular.woff') format('woff');
  }  
  
  .menu {
      font-family: persona_font;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-top: 20px;
  }

  .menu button {
    font-family: persona_font;
  }