@font-face {
    font-family: 'persona_font';
    src: url('./fonts/Persona5MenuFontPrototype-Regular.woff') format('woff');
}  

.topnav {
    display: flex;
    align-items: center;
    font-size: 30px;
    height: 25px;
    width: 800px;
    border-radius: 15px;
    padding: 20px;
    background-color: cornflowerblue;
    margin: 0 auto;
}

.navlink {
    font-family: persona_font;
    color:antiquewhite;
    text-decoration: none;
}

.pp {
    width: 40px;
    height: 40px;
    border-radius:5px;
    border: 3px solid antiquewhite;
}

.pp img {
    width: 40px;
    height: auto;
}

#Home {
    display: flex;
    justify-content: flex-end;
}