@import "tailwindcss";

/* Your custom classes */
@font-face {
    font-family: 'Persona';
    src: url('./Expose-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@layer components {
  .menu-layer {
    @apply w-full h-32 relative flex items-center justify-center text-3xl font-black text-black drop-shadow-lg skew-y-[-6deg] origin-top-left;
    margin-top: -4rem;
  }

  .menu-layer span {
    @apply skew-y-[6deg];
  }
}
/* =======
@import url('./navbar.css');
@import url('./menu.css');


h1 {
    font-family:Impact;
    text-align: center;
}

.hover-item {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #eee;
    padding: 8px;
    border: 1px solid #ccc;
    white-space: nowrap;
  }

>>>>>>> cc9feb73e82ba53366e54d303ea2272a89fc22b1 */
